/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap'); */

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
@media (max-width: 767px){
    
    #phone-main{
        display: inline-block;
    }
    #desktop-main{
        display: none;
    }
}
    
/* @media (max-width: 767px){

    body{
        font-size: 50%;
    }
    .logo{
        width: 100%;
    }
    #free{
        width: 150px;
        margin-top: 10px;
    }
    #event{
        width: 150px;
    }
    #main-3{
        width: 100vw;
    }
    #main-4{
        padding-top: 50px;
    }
    #functions{
        width: 100vw;
    }
    #recom-img{
        width: 250px;
    }
    #footer{
        display: none;
    }
    .scroll-group{
        display: none;
    }
} */

@media (min-width: 768px) and (max-width: 1199px) {
    /* 테블릿 가로*/
    body{
        font-size: 80%;
    }
    .logo{
        width: 100%;
    }
    #free{
        width: 150px;
    }
    #event{
        width: 250px;
    }
    .recom-img{
        width: 300px;
    }
}

*{
    margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

a{
    text-decoration: none;
    color:black;
}
a:hover{
    font-weight: 700;
}

body {
    /* font-family: 'Nanum Gothic', sans-serif; */
    font-family: "NEXON Lv1 Gothic OTF", normal;
    text-align: center;
    z-index:1;
    width: 100vw;
    height: 90vh;
    padding-top: 10vh;
}
.desk-no{
    display: none;
}
#desk-no, #desk-no1, #desk-no2{
    display: none;
}
.arrow{
    display: none;
}
/*text*/
.xl-text{
    font-weight: 900;
    font-size: 2.2em;
}
.l-text{
    font-weight: 900;
    font-size: 1.8em;
}
.m-text{
    font-weight: 900;
    font-size: 1.5em;
}
.s-text{
    font-weight: 700;
    font-size: 1em;
    color: rgb(80, 80, 80)
}
.s-text-w{
    font-weight: 700;
    font-size: 1em;
    color: white;
}
.point-text{
    font-weight: 900;
    font-size: 1.3em;
}
/*header*/

header{
    background-color: white;
    width: 100vw;
    height: 10vh;
    position: fixed;
    text-align: center;
    top: 0;
    z-index:2;
    float: left;
}
.top{
    text-align: center;
    padding: 0.7vh 0;
}
.top img{
    width: 12vw;
}
.logo-box{
    float: left;
    width: 15vw;
}
.logo{
    padding: 0.5vh 2vw;
}
.menu-box{
    padding: 1vh 0;
    text-align: center;
    float: left;
    width: 80vw;
}
.main-menu { 
    width: 15%;
    height: 1.6vw;
    font-size: 1em; 
    padding:0 0.8vw;
    display: inline-block;
} 
.empty {
    width: 15.7vw;
}
.top .bar{
    border-left: 0.1vw solid #CECCCC;
}
.dropdown{
    width: 12vw;
    background-color: white;
    color: black;
    z-index: 1;
    position: absolute;
    text-align: center;
    margin-top: 0.4vw;
    padding: 0.8vw 0;
    opacity: 0;
}
.dropdown li {
    padding: 0.2vw 0;
    font-size: 0.8em;
}
.free {
    margin-left: 2vw;
    background-color: rgb(198, 227, 248);
    padding: 1vh 0;
    border-radius: 0.4vw;
    font-weight: 900;
}
.free a {
    color: #448aca;
}
.main-menu:hover>a {
    font-weight: 700;
}
.main-menu:hover .dropdown{
    opacity: 1;
}
.free:hover a{
    font-weight: 700;
    color: white;
}
.top:nth-child(1-2) {
    border-left: none;
}

/*main-home*/
#background-m{
    display: none;
}
.main-home{
    text-align: center;
    margin:0 auto;
    vertical-align: middle;
}
.main-home .background{
    position: absolute;
    text-align: right;
    width: 100vw;
    opacity: 0.7;                                       
    z-index:-1;
}
#home-1{
    height: 35.3vw;
    text-align: center;
}
.table1{
    width: 80%;
    height: 31.4vw;
    display: inline-block;
    text-align: center;
    border-spacing: 1.6vw;
}
.hello{
    padding-top: 1.6vw;
    width: 40%;
    height: 31.4vw;
}
.hello .s-text-w{
    padding-top: 0.8vw;
}
.welcome {
    color: white;
    padding-bottom: 0.8vw;
    border-bottom: 0.1vw solid white;
    display: inline-block;
}
.event{
    opacity: 0.8;
    display: inline-block;
    width: 80%;
    margin-top: 3.9vw;
    padding: 2.4vw 0.8vw;
    background-color: white;
    border: 0.3vw dotted #448aca;
}
.hello img{
    transform:rotate(-10deg);
    width: 9.4vw;
    display: flex;
    position: relative; bottom: 11.8vw; left: 3.1vw;
}
.select-menu{
    margin-left: 3.9vw;
    width: 90%;
    height: 100%;
    border-spacing: 0.6vw;
}
.select-menu td{
    opacity: 0.8;
    width: 12.6vw;
    height: 12.6vw;
    background-color: white;
}
.select-menu td:hover{
    background-color: #448aca;
    transition-duration: 0.5s;
}
.select-menu td:hover a{
    color: white;
    font-weight: 900;
    transition-duration: 0.5s;
}
/*main-home-2*/
.definition{
    padding : 3.1vw 0;
    height: 5.5vw;
}
.definition .s-text{
    padding-top: 1.2vw;
}
.definition-box{
    padding: 2.4vw 0;
}
.recom-pic{
    display: inline-block;
    text-align: center;
}
.recom {
    text-align: center;
    float: left;
    padding: 0 2.4vw;
}
.recom img {
    width: 12vw;
}
.recom .point-text{
    color: #448aca;
}
.recom-pic2{
    width: 80vw;
    margin: 0 auto;
    display: inline-block;
}
.recom-pic2 table{
    padding: 100px 0 0 0;
    width: 70vw;
    display: inline-block;
}
.recom-pic2 .block .img{
    width: 50%;
}

.block img{
    padding: 10px 20px;
    width: 30vw;
}
.block .text{
    text-align: center;
    width: 30%;
}
.block h3{
    margin-bottom: 0.8vw;
}

/*main-home-3*/
.main-3{
    margin-top: 20px;
    padding: 30px 0;
    height: 23.6vw;
    display: inline-block;
}

.functions{
    background-color: #cde3f7;
    width: 70.7vw;
    height: 19.6vw;
    float: left;
    text-align: center;
}
.functions .blank{
    width: 10%;
    background-color: #448aca;
}
.functions .text{
    width: 40%;
}
.icons{
    border-spacing: 0.8vw;
}
.icons img{
    width: 60%;
}
.icons p{
    font-size: 0.7em;
}

/*main-4*/

.main-4{
    text-align: center;
}
.main-4 h3{
    padding-bottom: 1.6vw;
}
.main-4 td{
    vertical-align: top;
}
.connect-shop{
    margin: 0 auto;
    border-spacing: 1.6vw;
}
.main-4 img{
    width: 31.4vw;
    padding: 0 2.4vw;
}
.main-4 .bar{
    border-right: 0.1vw solid #CECCCC;
}

/*메뉴-편리한기능*/
.menu1{
    height: 100vh;
    text-align: left;
    float: left;
}
.menu1-1{
    height: 100vh;
}
.menu1 .background{
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    height: 100vh;
    background-color: #cde3f7;
    position: absolute;
    right: 20%;
    z-index: -1;
}
#text-area{
    display: inline-block;
    text-align: center;
}
.text-cell{
    width: 60vw
}
.img-cell{
    width: 30vw;
}
.text-area{
    display: inline-block;
    vertical-align: middle;
    width: 70vw;
    height: 25vh;
    text-align: left;
    left: 40%;
    margin:25vh 15vw;
}
.text-area td{
    width: 90%;
    height: 7.1vw;
    padding: 0 1.2vw;
}
.text-area .s-text{
    padding-top: 1.6vw;
}
.text-area .xl-text{
    border-left: 0.8vw solid #448aca;
    line-height: 1.5em;
}
.menu1{
    display: inline-block;
    vertical-align: middle;
}
.menu1 li{
    padding: 0.2vw 0;
}
.menu1 .img{
    display: inline-block;
    vertical-align: middle;
}
.menu1 img{
    display: inline-block;
    vertical-align: middle;
    width: 30vw;
    box-shadow:0 0 0.8vw #777;
}
/*사용방법*/
.test-page>.l-text{
    padding: 70px 0 40px 0;
}
.test-page>.point-text{
    padding-bottom: 60px;
}
.test-page .explain-text{
    padding-bottom: 20vh;
}
.test-page li{
    padding: 3px 0;
}
.test-page .text{
    display: inline-block;
    border: none;
    padding: 10px;
    width: 260px;
    border-radius: 20px;
    background-color: #448aca;
    margin-bottom: 20px;
    color: white;
}
.btn img{
    transform: rotate(-10deg);
    width: 3vw;
    display: flex;
    position: relative; bottom: 4vw; left: 57vw;
}
.btn p{
    display: flex;
    position: relative; bottom: 5.5vw; left: 60vw;
    color: rgb(209, 59, 0);
}
.sale .point-text{
    padding-bottom: 10px;
}
.sale>.s-text{
    margin-bottom: 20px;
}
.sale-info{
    display: inline-block;
    border: 3px dotted #448aca;
    background-color: #dedede;
    width: 50vw;
    margin-bottom: 70px;
}
.sale-info .point-text{
    padding: 20px 0;
}
.sale-info .s-text{
    padding: 5px 0;
    margin-bottom: 15px;
}

/*제휴사*/
.menu3 .l-text{
    padding: 70px 0 50px 0;
}
.menu3 img{
    width: 45%;
    padding-bottom: 3.9vw;
}
.under-bar{
    width: 20%; height: 0.4vw; border-bottom: 0.1vw solid #c6c6c6;
    display: inline-block;
    margin-bottom: 2.4vw;
}

/*고객센터*/
.notice-wrapper{
    display: inline-block;
    padding-top: 50px;
}
#question{
    width: 70vw;
}
#question .title{
    text-align: center;
    padding: 70px 0 50px 0;
}
.notice-wrapper hr{
    margin-top: 50px;
    margin-bottom: 50px;
}
.notice-wrapper .content-group h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 20px;
}
.notice-wrapper .content-group .table .top{
    background-color:#f1f1f1;
}
.notice-wrapper .content-group .table .content{
    display: flex;
    border-bottom: solid 1px #c6c6c6;
}
.notice-wrapper .content-group .table span{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: #c6c6c6 solid 1px;
    overflow:hidden; 
    text-overflow:ellipsis; 
    white-space:nowrap;
    font-size: 0.9em;
}
.notice-wrapper .content-group .table .file{
    text-align: left;
}
.notice-wrapper .content-group .table span:last-child{
    border: none;
}
.notice-wrapper .content-group .table .qna{ 
    padding-bottom: 10px;
    border-left: 1px solid #c6c6c6;
    margin-left: -1px;
    text-align: left;
}
.notice-wrapper .content-group .table .qna p{
    margin-top: 10px;
}
.notice-wrapper .content-group .table .qna p:first-child{
    cursor: pointer;
}
.notice-wrapper .content-group .table .qna p:last-child{
    background-color: #ebebeb;
    padding: 0.8em;
    word-break: keep-all;
}
.notice-wrapper .content-group .table .qna img{
    margin-top: 30px;
}
.notice-wrapper .content-group .table .qna a{
    padding: 0.3em 0.5em;
    background-color: white;
    margin-left: 10px;
}
.notice-wrapper .content-group .pagination{
    text-align: center;
    margin-top: 20px;
}
.notice-wrapper .content-group .pagination ul{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.notice-wrapper .content-group .pagination ul li{
    width: 34px;
    float: left;
    font-size: 1em;
    padding: 5px;
    border: 1px solid black;
    margin-left: -1px;
}
.notice-wrapper .content-group ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
    border-bottom: #ababab solid 1px;
}
.notice-wrapper .content-group ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
    margin-bottom: -1px;
    font-size: 0.9em;
}

.notice-wrapper .content-group ul.tabs li.current{
	color: #222;
    border:#ababab solid 1px;
}

.notice-wrapper .content-group .tab-content{
	display: none;
    padding-bottom: 15vh;
}

.notice-wrapper .content-group .tab-content.current{
	display: inherit;
}


.col-xs-2, .col-xs-6, .col-xs-8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-xs-2,.col-xs-6, .col-xs-8 {
    float: left;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-6 {
      text-align: center;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .none{
      display: none;
  }

/*회사소개*/
.wrap{
    text-align: center; min-height:100%;
    position:relative;
    padding-bottom:100px;
    display: inline-block;
}
.intro{
    margin-top: 70px;
    margin-bottom: 50px;
}

.intro .title-2 {
    text-align: left; padding-bottom: 20px;
}
.intro-set {
    text-align: left;
    width: 70vw;
}
.intro-set .point-text {
    text-align: left; vertical-align: top;
    width: 20%;
}
.intro-set .s-text{
    font-weight: 300;
    word-break: keep-all;
}
.intro-set td {
    padding: 20px 20px;
}
.ceo-img {
    width: 70vw; height: 37vw;
}
.sign {
    width: 8vw;
    position: relative;
    left: 90%;
}
.history {
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: left;
}
.history-group{
    display: inline-block;
    width: 70vw;
    border-top: 1px black solid;
}
.history-group .history-info{
    padding-top: 30px;
    padding-bottom: 30px;
}
.history-group .history-info{
    border-bottom: 1px solid #c6c6c6;
}
.history-group .history-info:last-child{
    border: none;
}
.history-group .history-info .txt_year{
    width: 15vw;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}
.history-group .history-info .inner_info{
    width: 50vw;
    display: inline-block;
    margin-left: 30px;
    text-align: left;
}
.history-group .history-info .txt_info{
    width: 100%;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}
.history-info .inner_info .txt_num{
    display: inline-block;
    margin-right: 20px;
}
.history-info .inner_info .txt_date{
    text-align: left;
    word-break: keep-all;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
}

/*스크롤메뉴*/
.sale-banner{
    width: 20vw;
}
.sale-banner .event{
    position: fixed; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top: 15%;
    left: 2px;
    width: 20vw;
    height: 70px;
    border: 2px dotted red;
    box-shadow:0 0 0.8vw red;
}
.sale-banner img{
    width: 10vw;
    display: flex;
    position: fixed; 
    top: 17%;
    left: 6%;
    z-index: 2;
}


.scroll-group{
    position:fixed; bottom: 5%; right: 0.8vw; font-size: 1.1vw;
}
#scroll-group{
    bottom: 35%;
}
.scroll {
    margin: 0 auto;
    width: 3.9vw; height: 3.9vw; border-radius: 3.9vw;
    background-color: #448aca; box-shadow:0 0 0.8vw #448aca;
}
#scroll0{
    background-color: white; 
    box-shadow: 0 0 0.8vw red;
    border: 2px dotted red;
    width: 8vw;
    padding: 15px 0; border-radius: 10px;
    opacity: 0.8;
}
#scroll0>a :first-child{
    padding-bottom: 2px;
    font-size: 1.5em;
    font-weight: 700;
    color: #448aca;
}
#scroll0>a :nth-child(2){
    color: red;
    font-size: 1.2em;
    font-weight: 900;
}
#scroll1{
    background-color: white;
}
#scroll2 {
    background-color: #448aca; box-shadow:0 0 0.8vw #448aca;
    font-size: 1.0vw;
}
.scroll-group a {
    text-align: center;
    color:white;
}
#hidden-scroll{
    display: none;
    opacity: 0;
}
#hidden-scroll a{
    color: white; 
}

#scroll3:hover #hidden-scroll{
    transition-property: opacity;
    transition-duration: 1s;
    display: block;
    opacity: 1;
}
#scroll3:hover>a{
    color: #448aca;
}
.rest{
    padding-top: 0.4vw;
}


/* footer */
footer{
    display: block;
    line-height: 1.42857143;
    color: #777;
    margin-bottom: 1.6vw;
    clear: both;
}
footer .footer-border{
    width: 92.7vw;
    padding: 1.2vw;
    margin-left: 1.6vw;
    border: 0.5vw solid #dedede;
    text-align: right;    
}
footer ul{
    list-style: none;
    margin-bottom: 0;
    margin-right: 2.4vw;
    font-size: 0.8em;
}
footer ul li {
    display: inline-block;
}
footer .bottom-group{
    margin-top: 0.8vw;
    margin-left: 1.6vw;
    width: 92.7vw;
}
footer .bottom-group img{
    display: inline-block;
    vertical-align: top;
    padding-top: 0.8vw;
}
footer .bottom-group .explain{
    display: inline-block;
    padding-right: 0.8vw;
    padding-left: 2.4vw;
}
footer .bottom-group .explain p{
    font-size: 0.8em;
}
footer .bottom-group .explain hr{
    margin-top: 0.8vw;
    margin-bottom: 0.8vw;
}
footer .banner{
    float: right;
    padding-right: 2.4vw;
}
footer .banner div{
    width: 6.3vw;
    text-align: center;
    float: left;
}
footer .remoteFooter{
    padding:1.2vw 2.4vw;
    vertical-align: top;
    margin-top: 0.2vw;
    display: inline-block;
    background-color: #448aca;
    color: white;
    font-weight: bold;
}
.download-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 0;
}
.down-title{
    width: 70vw;
    padding: 20px 0;
}
.download{
    width: 50vw;
    padding: 5px 10px;
    background-color: #448aca;
    color: #fff;
}


